{% extends 'base.html.twig' %}

{% block body %}

    <h2>Détail d'un souhait</h2>

    <h3>{{ wish.title }}</h3>
        <p>par {{ wish.author }} le {{ wish.dateCreated|date('d/m/Y') }}</p>
        <p>{{ wish.description }}</p>

{% endblock %}

{% block title %}Detail | {{ parent() }} {% endblock %}
