{% extends 'base.html.twig' %}

{% block body %}

    <h2>Détail d'un souhait</h2>

    <div class="card mt-2 mb-2 w-50 m-auto">
        <div class="card-body">
            <h5 class="card-title">{{ wish.title }}</h5>
            <p class="card-body">par {{ wish.author }} le {{ wish.dateCreated|date('d/m/Y') }}</p>
            <p class="card-body">{{ wish.description }}</p>
        </div>

{% endblock %}

{% block title %}Detail | {{ parent() }} {% endblock %}
