{% extends 'base.html.twig' %}

{% block body %}

    <h2>Liste de souhaits</h2>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nom du Souhait</th>
            <th scope="col">Description du Souhait</th>
            <th scope="col">Auteur</th>
            <th scope="col">Publié</th>
            <th scope="col">Date de création</th>
            <th scope="col">Date de modificattion</th>
        </tr>
        </thead>
        <tbody>
        {% for wish in wishes %}
        <tr>
            <th scope="row">{{ wish.id }}</th>
            <td><a href="{{ path('app_wish_detail', {id: wish.id}) }}">{{ wish.title }}</a></td>
            <td>{{ wish.description }}</td>
            <td>{{ wish.author }}</td>
            <td>{{ wish.isPublished ? 'Oui' : "Non" }}</td>
            <td>{{ wish.dateCreated|date('d/m/Y') }}</td>
            <td>{{ wish.dateUpdated ? wish.dateUpdated|date('d/m/Y') : '' }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}

{% block title %}Liste Souhaits | {{ parent() }} {% endblock %}
